<div
  class="h-full py-8 px-4 flex flex-col justify-between gap-12 text-center max-w-sm mx-auto text-lg"
>
  <div class="">
    <h1 class="text-2xl text-accent-300">
      ¡Esposita bella! <span class="text-lg">💗</span>
    </h1>
    <p>🎊 ¡Tu página ya está disponible! 🥳</p>
  </div>

  <div class="px-8 flex-1 grid place-items-center">
    <div
      class="w-full h-full max-w-[560px] max-h-[315px] mx-auto border-2 border-accent-300 rounded-lg overflow-hidden"
    >
      <iframe
        width="560"
        height="315"
        class="w-full h-full object-cover"
        src="https://www.youtube-nocookie.com/embed/zGD0f69DqJU?autoplay=1&loop=1&playsinline=1&showinfo=0&fs=0&si=sNeNeldH3mxfm5aU&amp;start=4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <p>¡Te amo ❤️!</p>
</div>
