<section class="h-full grid place-items-center">
  <figure class="flex flex-col gap-8 items-center px-4">
    <h3 class="text-3xl font-semibold text-center">
      !Buenos días, <br />
      <span class="text-accent-300">esposíta</span> bella 💗🌻!
    </h3>
    <app-profile-image />
    <figcaption
      class="font-medium text-center text-lg"
      style="text-wrap: balance"
    >
      <p>
        ¡Este es tu nuevo sitio <span class="text-accent-300">WEB</span> 🎉! Muy
        pronto agregarémos todos tus logros aquí 💗🙌
      </p>
      <p class="mt-12">¡Te amo! 💗</p>
      <!-- <p>
        En pocos días podrás ingresas a través de
        <a
          class="text-accent-600 font-bold hover:text-accent-700 transition-colors"
          href="https://alexandracaceres.com"
          >alexandracaceres.com</a
        >
      </p> -->
    </figcaption>
  </figure>
</section>
