/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";
@import "animations";

@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  // font-family: "Poppins", sans-serif;
  font-family: "Handlee", cursive;
  font-size: 16px;
  font-weight: 300;
}
